

#loading, #preloading{
    
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width:100%;
    height:100%;
    display:none;
    /* background:#0a1c33 ; */
    z-index:1111;
}

#loading .contents, #preloading .contents{

    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

#loading:before{
    content:'';
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
    background:rgba(0,0,0,0.7);
}

#preloading:before{
  content:'';
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  top:0;
  width:100%;
  height:100%;
  display:block;
  background:rgba(10,28,51,1);
}

.loader {
    /* border: 2px solid #FFF; */
    width: 48px;
    height: 48px;
    /* background: #0a1c33; */
    /* border-radius: 50%; */
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    /* border: 24px solid;
    border-color: transparent #FFF;
    border-radius: 50%; */
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url(../MEGA8.png) center no-repeat;
    background-size: 100%;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 



  

#preloading .ico{
  width:6em;
  height:6em;
  position:relative;
  margin-bottom:1em;
}

#preloading .ico:before{
  position:absolute;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  content:"";
  display:block;
  background:url("../MEGA8.png") center no-repeat;
  background-size:100%;
  filter: invert(1);
}

#preloading .ico .cv{
  position:absolute;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:block;
  background:url("../MEGA8.png") center no-repeat;
  background-size:100%;
  mask-image: linear-gradient(red, red);
  mask-position: 56% 100%;
  mask-size: 6em 0em;
  mask-repeat: no-repeat;

}

#preloading span{
  color:white;
  font-family: '강원교육튼튼';
}