.stat-card {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.bg-black {
    background-color: black;
}

.font-sans {
    font-family: sans-serif;
}

.leading-normal {
    line-height: 1.5;
}

.tracking-normal {
    letter-spacing: normal;
}

.container {
    width: 100%;
	padding:10px;
	margin: 20px;
    /* margin-right: auto;
    margin-left: auto;
    padding-right: -1rem;
    padding-left: -1rem; */
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.max-w-3xl {
    max-width: 48rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-3xl {
    font-size: 3rem;
}

.font-semibold {
    font-weight: 800;
}

.leading-tight {
    line-height: 1.25;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-4 {
    gap: 1rem;
}

.bg-white {
    background-color: #242424;
}

.p-5 {
    padding: 1.25rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.text-gray-600 {
    color: gray;
	text-align: left;
}

.text-xl {
    font-size: 1.75rem;
}

.font-bold {
    font-weight: 900;
	text-align: right;
}
